<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Content/favicon.ico" />
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head", required: false)
    <style type="text/css">
        .search {
            display: inline-flex;
        }

        .fields {
            width: 75%;
            float: left;
            display: inline;
        }

            .fields input {
                float: right;
                border: 0;
                border-radius: 7px;
                padding: 0 17px;
                border-bottom: 5px solid #bdc3c7;
                height: 30px;
                font-family: 'Roboto',sans-serif;
                color: #7f8c8d;
                font-size: 19px;
                margin-top: 5px;
                margin-left: 5px;
            }

        #login img {
            top: -4px;
            display: inline-block;
            position: relative;
        }
        .loginbuttons {
            top: 5px;
            position: relative;
            float: left;
        }
            .loginbuttons img {
                width: 30px;
            }
    </style>
</head>
<body>
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <header>
        <a href="/" style="text-decoration: none;"><h1>Javascript Games!</h1></a>
        <div class="righthead">
            <div class="search">
                <div class="searchterm">
                    <input type="text" class="srchFld" placeholder="buscar.." />
                    <div class="entypo-search ico"></div>
                </div>
                <a id="login" href="javascript:void(0)"><img src="~/Content/img/login.png" /></a>
            </div>
            <div class="login" style="display:none;">
                <div class="fields">
                    <input id="user" name="user" type="text" placeholder="Usuario">
                    <input id="password" name="password" type="password" placeholder="Clave">
                </div>
                <div class="loginbuttons">
                    <a id="loginnext" href="#"><img src="~/Content/img/next.png" /></a>
                    <a id="loginstop" href="#"><img src="~/Content/img/stop.png" /></a>
                </div>
                <div style="clear:left;"></div>
            </div>
        </div>
        @*@Html.Partial("_LoginPartial")*@
    </header>
    <nav id="menu" class="nav">
        <ul>
            <li>
                <a href="@Url.RouteUrl("Games")">
                    <span class="icon">
                        <img src="~/Content/img/super.png" />
                    </span>
                    <span>Juegos</span>
                </a>
            </li>
            <li>
                <a href="@Url.RouteUrl("Developers")">
                    <span class="icon">
                        <img src="~/Content/img/developer.png">
                    </span>
                    <span>Desarrolladores</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon">
                        <img src="~/Content/img/job.png">
                    </span>
                    <span>Trabajos</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon">
                        <img src="~/Content/img/company.png">
                    </span>
                    <span>Empresas</span>
                </a>
            </li>
            <li>
                <a href="@Url.RouteUrl("ContactUs")">
                    <span class="icon">
                        <img src="~/Content/img/message.png">
                    </span>
                    <span>Contáctenos</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon">
                        <img src="~/Content/img/home.png">
                    </span>
                    <span>Mi Cuenta</span>
                </a>
            </li>
        </ul>
    </nav>
    <section id="content">
        <div id="bg"></div>
        @RenderBody()
    </section>
    <footer>
        <div class="right">
            <div id="letter">JS</div>
            <div id="animation">
                <div class="button"></div>
                <div class="button"></div>
                <div class="stick">
                    <div class="topButton"></div>
                    <div class="bottom"></div>
                    <div class="support"></div>
                </div>
                <div class="rubber"></div>
                <div class="base"></div>
            </div>
        </div>
    </footer>
    <div id="wall"></div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/coreJS")
    <script type="text/javascript">
        $(window).load(function () {
            $("#wall").slideUp(1000, "easeInOutSine");
            $("body").niceScroll({ styler: "fb", cursorcolor: "#000", horizrailenabled: false, zindex: 9999 });
        });
        $("#login").on("click", function () {
            $(".righthead").animate({ "right": -$(window).width() + "px" }, "slow", function () {
                $(".search").hide();
                $(".login").show();
                $(".righthead").animate({ "right": "0px" }, "slow");
            });
            return false;
        });
        $("#loginstop").on("click", function () {
            $(".righthead").animate({ "right": -$(window).width() + "px" }, "slow", function () {
                $(".login").hide();
                $(".search").show();
                $(".righthead").animate({ "right": "0px" }, "slow");
            });
            return false;
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
